pefile
qiling
uefi_firmware
monkeyhex
pytest
mockito
conditional
gevent>=23.9.0 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability